.starsBox {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.starsBox span {
  display: inline-block;
  position: absolute;
  border-radius: 100%;
  transition: 100s linear;
}