@font-face {
    font-family: myKaiTi;
    src: url("../css/江西拙楷2.0.ttf");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: sans-serif, "myKaiTi", "NSimSun";
}
section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    .shell {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        h2 {
            visibility: hidden;

            color: #171717;
            font-size: 6vw;
            text-align: center;
            
            display: flex;
            flex-direction: column;
            span {
                &:nth-child(2) {
                    line-height: 1.2em;
                    font-size: 1.3em;
                }
            }
        }
        &.shell-ground {
            @extend h2;
            background: #CFCFCF;
        }
        &.shell-sky {
            @extend h2;
            background: #171717;
            clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
            h2 {
                color: #fff;
            }
        }
        @keyframes animateFly {
            0% {
                transform: translateY(60%);
                opacity: .6;
            }
            30% {
                opacity: .3;
            }
            70% {
                transform: translateY(-50%);
                opacity: 1;
            }
            100% {
                transform: translateY(-60%);
                opacity: 0;
            }
        }
    }
    img {
        position: absolute;
        cursor: pointer;
    }
    #unfire-rocket {
        top: 32vw;
        left: 61vw;
        width: 50vw;
        height: 22vw;
        visibility: visible;
    }
    #fire-rocket {
        top: 32vw;
        left: 61vw;
        width: 50vw;
        height: 22vw;
        visibility: hidden;
    }
    @keyframes animateRocket {
        75% {
            transform: translateY(-300%);
        }
        100% {
            transform: translateY(-300%);
            opacity: 0;
        }
    }
}